@media screen and (max-width:500px) {
    .Home-content h2{
        padding-bottom:40px;
        margin-left: 0px !important;
        font-size: 30px;

    }
    .navbar-brand h2 {
        margin-left: 0px !important;
        }
   .Contact-right{
    margin-top: 50px !important;
   }
   .Home-signup-content{
    padding:2%;
   }
   #hiddenDiv.visible{
      width: 70% !important;
      height: 42% !important;
  }
  .Home-cart-1-right i{
      position: absolute !important;
      right: 0px !important;
      top:0px !important;
  }
}
@media screen and (max-width:800px) {
   .Contact-content .Contact-right {
    margin-top: 30px;
   }
}